

.title{color:#6420AA;}

h2{color: #FF3EA5;}

table,th,td{border: 1px solid black;}

/* 
table{text-align: center;} */

.column{background-color: grey;
    text-align: center;
}

.row1{background-color: lightgrey; 
    text-align: center;
}

body {font-size: larger;}          /* making the font size larger */